<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JOHAR STORES|Contact</title>
    <link rel="stylesheet" href="/static/stylecontact.css">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <nav id="navbar">
        <ul>
            <div id="logo">
                <img src="https://cdn.dribbble.com/users/929299/screenshots/14438394/shot-cropped-1603375547855.png?compress=1&resize=400x300" alt="">
                <li >
                    <a href="home.html">home</a>
                    
                </li>
                
                <li >
                    <a href="contact.html">contact</a>
                    
                </li>
                <li >
                    <a href="services.html">our products</a>
                    
                </li>
            </div>
        </ul>
    </nav>
    <div class="container">
        <form action="https://formspree.io/f/xwkdbdzy" method="post" class="myform">
            <input type="text"  class="myinput" name="name" placeholder="Enter your name"  required>
            <input type="phone" class="myinput" name="phone" placeholder="Enter your phone number" required >
            <input type="email" class="myinput" name="email" placeholder="Enter your email id"  required>
            <input type="text" class="myinput" name="address"  placeholder="Enter your address" required >
            <textarea name="message" class="myinput"  placeholder="Enter your order"></textarea>
            <button type="submit"  class="btn">
                submit
            </button>
        </form>
    </div>
</body>
    <footer id="footer">
        copyright ⓒ 2023 joharstores.com | All rights reserved
    </footer>

    
</html>
