<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JOHAR STORES|Products</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Croissant+One&family=Inter:wght@800&display=swap"rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" >
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/stylehome.css">
    <link rel="stylesheet" href="/static/stylecontact.css">
   
</head>
<body>

    <nav id="navbar">
        <ul>
            <div id="logo">
                <img src="https://cdn.dribbble.com/users/929299/screenshots/14438394/shot-cropped-1603375547855.png?compress=1&resize=400x300"
                    alt="logo">

            </div>
            <li>
                <a href="index.html">home</a>
            </li>
            <li>
                <a href="contact.html">contact</a>
            </li>
            <li>
                <a href="services.html">our products</a>
            </li>
        
            <div id="searchBar">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" id="searchInput" placeholder="Search products...">
            </div>
            
            
            
        </ul>
    </nav>



<section>
   
    <ul id="searchResults">
        
        <li>
            <h2 style="    text-align: center;
            padding: 12px;">Our Products</h2>
        <div class="card-youtube">
            <h3 class="card-title">hero sting</h3>
            <div class="card-img-youtube">
                <img src="https://www.herocycles.com/dw/image/v2/BGQH_PRD/on/demandware.static/-/Sites-cycles-master/default/dwe675fb08/Products/STING/BCSTG20BL00001/01.png?sh=523&sfrm=png" alt="">
                
            </div>
            <div class="card-content-youtube">
                <h5 class="sting">
                    FRAME SIZE :31 cms (12 inches) 
                    FRAME MATERIAL: Steel 
                    FRAME GEOMETRY:Safe ride geometry 
                </h5>
                <h1>₹ 5320.00</h1>
                <p>Hero Sting ensures comfort and safety of our little fearless champions complimenting their energy, fun and naughtiness to ensure growth and adventure. This bike is equipped with Safe Ride Geometry, rigid suspension & V- brakes for kids.</p>


                <h4>For more information head to Contact page!</h4>
            </div>
        </div>
        </li>

        <li>
        <div class="card-youtube">
            <h3 class="card-title">hero Speedo</h3>
            <div class="card-img-youtube">
                <img src="https://www.herocycles.com/dw/image/v2/BGQH_PRD/on/demandware.static/-/Sites-cycles-master/default/dw0b94e397/Products/Speedo/BSSPD20BKGN001/1.png?sh=523&sfrm=png" alt="">
                
            </div>
            <div class="card-content-youtube">
                <h5 class="Speedo">
                    FRAME MATERIAL:Unisex

                    FRAME GEOMETRY: Safe ride geometry
                </h5>
                <h1>₹ 4,475.00</h1>
                <p>Hero Cycles Speedo Kids Bicycle.</p>


                <h4>For more information head to Contact page!</h4>
            </div>
        </div>
        </li>

        <li>
            <div class="card-youtube">
                <!-- <h3></h3> -->
                <div class="cardbox">
                    <h3 class="card-title">hero sprint Voltage</h3>
                    <div class="card-img-youtube">
                        <img src="https://www.herocycles.com/dw/image/v2/BGQH_PRD/on/demandware.static/-/Sites-cycles-master/default/dw70c7b9c3/Products/Voltage/BSVOL26BKGN001/01.png?sh=523&sfrm=png"alt="img">
                    </div>
                    <div class="card-content-youtube">
                        <h5 class="Voltage">
                            FRAME SIZE: 39 cms (15 inches)
                            FRAME MATERIAL: Steel
                            FRAME GEOMETRY: New Ride Geometry
                        </h5>
                        <h1>₹10,160.00</h1>
                        <p>Inspired by the kids always zipping around and filled with energy, the Hero Sprint Voltage is the perfect cycle for keeping up with them! The cycle is just as safe as it’s fun, so let your little ones explore the world around them!</p>


                        <h4>Head to the contact page for more information on this product!</h4>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="card-youtube">
                <!-- <h3></h3> -->
                <div class="cardbox">
                    <h3 class="card-title">hero sprint Thorn</h3>
                    <div class="card-img-youtube">
                        <img src="https://www.herocycles.com/dw/image/v2/BGQH_PRD/on/demandware.static/-/Sites-cycles-master/default/dw1abd5398/Products/Thorn/BSTHO24BLOR002/02.png?sh=523&sfrm=png" alt="">
                            </div>
                            <div class="card-content-youtube">
                                <h5>BRAKE :
    
                                    Double Disc Brake
                                    V-Brake
                                </h5>
                                <h1>₹ 8,345.00</h1>
                                <p>Redefine your mountain biking experience with the Hero Sprint Thorn, a cycle that’s inspired by thrillseekers who forever seek to scale the summit. With its rugged build, this MTB can handle whatever terrain you throw at it. So go ahead and explore those new trails - with the Hero Thorn, you're guaranteed a smooth ride.</p>
                                
                            <h4>Head to the contact page for more information on this product!</h4>
    
                        </div>
                    </div>
                </div>
        </li>
        <li>
            <div class="card-youtube">
                <!-- <h3></h3> -->
                <div class="cardbox">
                    <h3 class="card-title">hero sprint howler 2.0</h3>
                    <div class="card-img-youtube">
                        <img src="https://www.herocycles.com/dw/image/v2/BGQH_PRD/on/demandware.static/-/Sites-cycles-master/default/dw51b19400/Products/Howler%202.0/26T/BSHOW26GYOR001/1.png?sh=523&sfrm=png" alt="">
                            </div>
                        <div class="card-content-youtube">

                            <h5 class="howler">FRAME SIZE: 42 cms (16.5 inches)
                                
                                
                                FRAME MATERIAL: Steel
                                
                                
                                FRAME GEOMETRY: New Ride Geometry</h5>
                            <h1>₹ 16,725.00</h1>
                            <p>
                                Made for all the lone wolves who seek the solitude of the mountains. The Hero Sprint Howler 2.0 has a steel frame with SPUR suspension for a smooth ride, and comes complete with a Shimano drivetrain for unparalleled power transfer. Add to that the New Ride Geometry which makes conquering terrains a breeze, you’ve got yourself a beast of a cycle! Powered by GEMTEC™.
                            </p>
                            

                            <h4>Head to the contact page for more information on this product!</h4>
    
                        </div>
                    </div>
                </div>
        </li>

        <li>
            <div class="card-youtube">
            <!-- <h3></h3> -->
            <div class="cardbox">
                <h3 class="card-title">hero sprint Cowboy</h3>
                <div class="card-img-youtube">
                    <img src="https://www.herocycles.com/dw/image/v2/BGQH_PRD/on/demandware.static/-/Sites-cycles-master/default/dw16da34d6/Products/Cowboy/BSCOW26BKGN001/01.png?sh=523&sfrm=png" alt="">
                        </div>
                        <div class="card-content-youtube">
                            
                            
                        
                        <h5 class="Cowboy">
                            FRAME SIZE: 36 cms (14 inches)
                            FRAME MATERIAL: Steel
                            FRAME GEOMETRY: MTB geometry
                        </h5>
                        <h1>₹ 8,870.00</h1>
                        
                        
                        <p>
                            What better way to enjoy the great outdoors than on two wheels? The Hero Sprint Cowboy is the right choice for you. This single-speed cycle, equipped with a V-brake system and rigid fork, is designed for those just starting their foray into the wild.
                        </p>
                        <h4>Head to the contact page for more information on this product!</h4>

                        

                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="card-youtube">
                <!-- <h3></h3> -->
                <div class="cardbox">
                    <h3 class="card-title">hero colt IBC 26T</h3>
                    <div class="card-img-youtube">
                        <img src="https://www.herocycles.com/dw/image/v2/BGQH_PRD/on/demandware.static/-/Sites-cycles-master/default/dw6a7b2461/Products/Colt%20IBC%2026T%20FSDD/BCCOL26BK00005/1.png?sh=523&sfrm=png" alt="">
                            </div>
                        <div class="card-content-youtube">
                            <h5 class="IBC">FRAME SIZE: 44 cms (17 inches)
                                
                                
                                FRAME MATERIAL: Hi - Tensile Steel/carrier
                                
                                
                                FRAME GEOMETRY: MTB Geometry</h5>
                            <h1>₹ 9,405.00</h1>
                            <p>What better way to enjoy the great outdoors than on two wheels? The Hero Colt is the right choice for you. This single-speed cycle, equipped with a Dual Disc Brake System and Front Suspension, is designed for those just starting their foray into the wild.</p>
                           
                            <h4>Head to the contact page for more information on this product!</h4>
    
                        </div>
                    </div>
                </div>
        </li>
        <li>
            <div class="card-youtube">
                <!-- <h3></h3> -->
                <div class="cardbox">
                    <h3 class="card-title">hero Sprint hustle</h3>
                    <div class="card-img-youtube">
                        <img src="https://www.herocycles.com/dw/image/v2/BGQH_PRD/on/demandware.static/-/Sites-cycles-master/default/dwbd7c3148/Products/Hustle/BSHUS29BL00002/01.png?sh=523&sfrm=png" alt="">
                            </div>
                        <div class="card-content-youtube">
                            <h5 class="hustle">
                                FRAME SIZE: 45 cms (17.5 inches)
                                
                                
                                FRAME MATERIAL: Steel
                                
                                
                                FRAME GEOMETRY: New Ride Geometry</h5>
                            <h1>₹ 18,275.00</h1>
                            <p>Life is a hustle. But with the Hero Sprint Hustle, you can make it infinitely better. Equipped with SPUR suspensions, a mechanical disc braking system, and the revolutionary GEMTEC™, your cruising experience is all set to reach its absolute pinnacle. Hustle hard, this cycle has got your back!</p>

                            <h4>Head to the contact page for more information on this product!</h4>
                           
    
                        </div>
                    </div>
                </div>
        </li>
            <div class="card-youtube">
                <!-- <h3></h3> -->
                <div class="cardbox">
                    <h3 class="card-title">hero Sprint compass</h3>
                    <div class="card-img-youtube">
                        <img src="https://www.herocycles.com/dw/image/v2/BGQH_PRD/on/demandware.static/-/Sites-cycles-master/default/dwe486e312/Products/Compass/BSCOM29BK00006/01.png?sh=523&sfrm=png" alt="">
                            </div>
                        <div class="card-content-youtube">
                            <h5 class="compass">
                                FRAME SIZE: 45 cms (17.5 inches)
                                
                                
                                FRAME MATERIAL: Steel
                                
                                FRAME GEOMETRY: New Ride Geometry</h5>
                            <h1>₹ 16,860.00</h1>
                            <p>When you’re venturing into trails unknown, a compass shows you the way. And when you’re starting off your mountain biking adventures, the Hero Sprint Compass leads the way. Why? The New Ride Geometry makes it easier to control on any terrain, and the steel frame can totally take a beating. It’s time to conquer the summits! Powered by GEMTEC™.</p>

                            <h4>Head to the contact page for more information on this product!</h4>
                           
    
                        </div>
                    </div>
                </div>
        </li>
            <div class="card-youtube">
                <!-- <h3></h3> -->
                <div class="cardbox">
                    <h3 class="card-title">hero Sprint Milano </h3>
                    <div class="card-img-youtube">
                        <img src="https://www.herocycles.com/dw/image/v2/BGQH_PRD/on/demandware.static/-/Sites-cycles-master/default/dwe7f6410e/Products/Milano/BSMIL27GY00002/1.png?sh=523&sfrm=png" alt="">
                            </div>
                        <div class="card-content-youtube">
                            <h5 class="compass">
                                FRAME SIZE: 47 cms (18.5 inches)

                                FRAME MATERIAL: Steel


                                FRAME GEOMETRY": New Ride Geometry</h5>
                            <h1>₹ 11,385.00</h1>
                            <p>Get fit. Go fast. Have fun! You can do it all when you’re on a Hero Sprint Milano. Whether you’re looking to get a workout in, cruise around the city, or just have a good time, the Milano is the bike for you. It’s light and nimble, yet comfortable and capable, making it perfect for all types of riders. Powered by GEMTEC™.</p>

                            <h4>Head to the contact page for more information on this product!</h4>
                           
    
                        </div>
                    </div>
                </div>
        </li>
            <div class="card-youtube">
                <!-- <h3></h3> -->
                <div class="cardbox">
                    <h3 class="card-title">hero Sprint Trot </h3>
                    <div class="card-img-youtube">
                        <img src="https://www.herocycles.com/dw/image/v2/BGQH_PRD/on/demandware.static/-/Sites-cycles-master/default/dwaf61cac9/Products/Trot/BSTRO26BKBL004/01.png?sh=523&sfrm=png" alt="">
                            </div>
                        <div class="card-content-youtube">
                            <h5 class="compass">
                                FRAME SIZE: 42 cms (16.5 inches)

                                FRAME MATERIAL: Steel

                                FRAME GEOMETRY: New Ride Geometry
                            </h5>
                            <h1>₹ 16,355.00</h1>
                            <p>Got a passion for the trails? Start off on the right foot with the Hero Sprint Trot. With double disc brakes, designed with New Ride Geometry for comfortable and safe rides, and a hardtail fork with SPUR suspension, no terrain will be too much for it. Powered by GEMTEC™.</p>

                            <h4>Head to the contact page for more information on this product!</h4>
                           
    
                        </div>
                    </div>
                </div>
        </li>


        
        
       
    </ul>


</section>

    <script>
        const searchInput = document.getElementById("searchInput");
        const searchResults = document.getElementById("searchResults").getElementsByTagName("li");

        searchInput.addEventListener("input", function() {
            const searchTerm = searchInput.value.toLowerCase();

            for (let i = 0; i < searchResults.length; i++) {
                const item = searchResults[i];
                const text = item.textContent.toLowerCase();

                if (text.includes(searchTerm)) {
                    item.style.display = "block";
                } else {
                    item.style.display = "none";
                }
            }
        });
    </script>
</body>
</html>
